*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Crete Round", serif;
}
ul,
li,
h1,
h2,
h3,
p,
div,
span,
nav,
header {
    padding: 0;
    margin: 0;
}
#header {
    background-color: rgba(4, 4, 5, 0.212);
    display: flex;
    .logo {
        max-width: 300px;
        margin-top: 7px;
        margin-left: 10px;
    }
    .item-list ul {
        list-style: none;
    }
    .item-list li {
        display: inline-block;
        padding: 10px;
    }
    .item-list a {
        color: white;
        font-size: 18px;
        text-decoration: none;
    }
}
#header div:nth-child(1) {
    margin-right: auto;
}
.humber-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.humber-btn a {
    padding: 10px;
    color: white;
    font-size: 18px;
}
@media only screen and (max-width: 900px) {
    #header {
        flex-direction: column;
    }

    .item-list {
        display: none;
    }
    .active {
        display: block;
        transition: 0.5s;
        border-top: 1px solid black;
        background-color: rgb(18, 18, 19);
    }
    .item-list ul {
        display: flex;
        flex-direction: column;
    }
    .item-list li {
        text-align: center;
        border-bottom: 1px solid white;
    }

    .logo {
        margin-bottom: 10px;
        color: white;
        width: 100%;
    }
    .humber-btn {
        display: block;
        position: absolute;
        top: 15px;
        right: 10px;
    }
}
